// vim: set syntax=c:
/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT_L 0
#define SYMBOLS_L 1
#define ARROWS_L  2
#define NUMBERS_L 3

/ {
    chosen {
        zmk,matrix_transform = &five_column_transform;
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default {
            label = "DEF";
            bindings = <
  &kp Q  &kp W          &kp F      &kp P           &kp B      &kp J      &kp L                 &kp U                  &kp Y  &kp SINGLE_QUOTE
  &kp A  &kp R          &kp S      &kp T           &kp G      &kp M      &kp N                 &kp E                  &kp I             &kp O
  &kp Z  &kp X          &kp C      &kp D           &kp V      &kp K      &kp H  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS     &kp SEMICOLON
                &kp LEFT_META  &kp LCTRL  &kp LEFT_SHIFT    &kp TAB  &kp SPACE            &kp ESCAPE
            >;
        };

        Function {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "FN";
        };

        Number {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans        &kp N7        &kp N8  &kp N9  &trans
  &trans  &trans  &trans  &trans  &trans    &trans        &kp N4        &kp N5  &kp N6  &trans
  &trans  &trans  &trans  &trans  &trans    &kp N0        &kp N1        &kp N2  &kp N3  &trans
                  &trans  &trans  &trans    &trans        &trans        &trans
            >;

            label = "Num";
        };
    };
};
